

.commentContainer {
    display: flex;   
    width: 100%;
}

/* select all children of commentContainer */
/* .commentContainer > * {
    border: 1px solid black;
} */

.commentLEFT {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:10%;

}

.commentRIGHT {
    display: flex;
    flex-direction: column;    
    margin-top:16px;
    justify-content: space-betwwen;
    width:90%;
}

.commentContent {
    margin: 0 0 0 0;
}

.commentFooter {
    display: flex;
    margin: 12px 0 12px 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}