

.commentContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* select all children of commentContainer */
.commentContainer > * {
    border: 1px solid black;
}

.commentLEFT {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.commentRIGHT {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.commentHeader {
    display: flex;
}

.commentFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}