.modalContainer{
        /* border-style: none;
        border-width: 0px; */
    border-radius: 10px;
    margin:0px;
    color:white;
}
.proposerAddressContainer{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}
.modalStyleContainer {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80%;
    transform: translate(-50%, -50%);
    background-color: #1E1E28;    
    border-style: none;
    border-radius:none;
    border-width: 0px;
    margin:0px;
    padding:0px;
}

.boxStyleContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    height: 100%;
    width: 100%;
    padding-top: 48px;
    padding-left: 256px;
    box-sizing: border-box;
}
.editorContainer {
    width: 80%;
}
