.proposalBarContainer {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    /* align-items: center; */
}
.titleProposalContainer {
    display: flex;

    align-items: center;
    justify-content: space-between;
    height: 10%;
    margin-top: 32px;
    width: 95%;
}
.sortingContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}
.lineSortContainer {
    width: 100%;
    margin: 0;
}
.titleProposalTopContainer {
    display: flex;
    align-items: center;

    font-size: 24px;
    font-weight: 600;
    margin-right: 36px;
}
.sortingOptionContainer {
    display: flex;
    margin-bottom: 4px;
    margin-top: 16px;
    box-sizing: border-box;
    width: 80%;
}
.titleProposalTopUnselectedContainer {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    margin-right: 36px;
}
/* .linkContainer :hover,
.linkContainer :visited,
.linkContainer {
    list-style: none;
    text-decoration: none;
} */

.searchBarContainer {
    padding-right: 16px;
    border-radius: 20px;
    border-style: solid;
    width: 300px;
}
.downArrowContainer {
    margin-left: 8px;
}
.addProposalContainer {
    width: 250px;
    background-color: #e5007a;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    justify-content: space-around;
    border-radius: 10px;
    height: 48px;
    font-weight: 600;
}
.addProposalButtonContainer {
    color: white;
}
.plusContainer {
    margin-left: 24px;
    color: white;
}
.proposalCardsContainer {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    text-decoration: none;
    color:black;
}

.proposalCardsContainer :visited {
    text-decoration: none;
}

.searchBarContainer {
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: black;
    height: 60%;
    width: 360px;
    margin-right: 64px;
    font-size: 12px;
    box-sizing: border-box;
    padding-left:8px;
    
  }
  
