.container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    justify-content: space-between;
}
.sideContainer {
    /* width: 17.5%; */
    height: 100%;
}
mainContainer {
    /* width: 82.5%; */
    height: 100%;
}
